[submodule "sandstorm"]
	path = sandstorm
	url = git@github.com:cartridge-gg/sandstorm.git
[submodule "header_chain_parser"]
	path = header_chain_parser
	url = git@github.com:cartridge-gg/header_chain_parser.git
[submodule "cairo-lang"]
	path = cairo-lang
	url = git@github.com:cartridge-gg/cairo-lang.git
[submodule "cairo-verifier"]
	path = cairo-verifier
	url = git@github.com:cartridge-gg/cairo-verifier.git
