[submodule "cairo-vm"]
	path = cairo-vm
	url = git@github.com:lambdaclass/cairo-vm.git
[submodule "stone-prover"]
	path = stone-prover
	url = git@github.com:Okm165/stone-prover.git
[submodule "cairo-verifier"]
	path = cairo-verifier
	url = git@github.com:HerodotusDev/cairo-verifier.git
